[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AntonArtyukh
[access "refs/for/refs/*"]
	read = group user/AntonArtyukh
	push = group user/AntonArtyukh
	label-Code-Review = -2..+2 group user/AntonArtyukh
	label-Verified = -1..+1 group user/AntonArtyukh
	rebase = group user/AntonArtyukh
	removeReviewer = group user/AntonArtyukh
	submit = group user/AntonArtyukh
[access "refs/heads/*"]
	read = group user/AntonArtyukh
	create = group user/AntonArtyukh
	push = +force group user/AntonArtyukh
	pushMerge = group user/AntonArtyukh
[access "refs/tags/*"]
	push = +force group user/AntonArtyukh
	pushTag = group user/AntonArtyukh
	pushSignedTag = group user/AntonArtyukh
